%h1 hallo!
- @entries.each do |e|
  %h2= link_to e.title, e
  %ul.tags
    - e.tag_list.each do |tag|
      %li= link_to tag, tag_path(tag)
  %h4= e.updated_at
  %p= raw excerpt e
  %p [#{link_to('more', e)}]
  - if current_user
    = link_to 'edit', edit_entry_path(e)
    = button_to 'delete', entry_path(e), :confirm => 'Really really?', :method => :delete
  %hr
= will_paginate @entries
