- @entries.each do |e|
  %h1= link_to e.title, entry_path(e)
  .admin
    - if current_user
      = link_to 'Edit', edit_entry_path(e)
      = link_to 'Delete', e, :method => :delete, :confirm => 'Really really?'
  - if e.html.include? '<!--more-->'
    = raw excerpt e
    %p [#{link_to('more...', e)}]
  - else
    = raw e.html
  %br
  .tags
    = "* Tags - "
    - e.tag_list.each do |tag|
      = link_to tag, tag_path(:tag => tag)
    %br
    = "* Category - "
    = link_to e.category, category_path(:category => e.category)
    %br
    %p
      = "* Comments - "
      = link_to e, entry_path(e, :anchor => "disqus_thread"), :"data-disqus-identifier" => entry_path(e)
  .date= e.updated_at.strftime('* %a, %b %-e, %Y @ %l:%M %p %Z') 
  %br
  
= will_paginate @entries
