%h1 hallo!
- @entries.each do |e|
  %h2= link_to e.title, e
  %ul.tags
    %li= e.category_list
    %li= e.subcategory_list
    %li= e.topic_list
  %h4= e.updated_at
  %p= raw excerpt e
  - if current_user
    = link_to 'edit', edit_entry_path(e)
