.admin
  - if current_user
    = link_to 'Edit', edit_entry_path(@entry)
    = link_to 'Delete', entry_path(@entry), :confirm => 'Really really?', :method => :delete
%h1= @entry.title
.entry
  = raw @entry.html
%br
%br
.tags
  = "* Tags - "
  - @entry.tag_list.each do |tag|
    = link_to tag, tag_path(:tag => tag)
  %br
  = "* Category - "
  = link_to @entry.category, category_path(@entry.category)
.date= @entry.updated_at.zone.strftime('* %a, %b %-e, %Y @ %l:%M%p')
%br
= render :partial => 'layouts/disqus'