= form_for @user do |f|
  = f.label :email, :label => "Email"
  = f.text_field :email

  = f.label :password, :label => "Password"
  = f.password_field :password

  = f.label :password_confirmation, :label => "Password Confirmation"
  = f.password_field :password_confirmation

  = f.submit