- if @entry.errors
  - @entry.errors.messages.each do |message|
    = message

= form_for @entry do |f|
  = f.label :title, 'title'
  = f.text_field :title
  %br
  = f.label :category, 'category'
  = f.select :category, ['--------','code']
  %br
  = f.label :tag_list, 'tags'
  = f.text_field :tag_list
  %br
  = f.label :markdown, 'markdown'
  = f.text_area :markdown
  %br
  = f.submit