!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag    'application', :media => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if current_user
      = link_to 'home', :root
      = link_to 'code', code_path
      = link_to 'food', food_path
      = link_to 'kyle', kyle_path
      = link_to 'new entry', new_entry_path
      = link_to 'log out', logout_path
    = yield
  %footer
    - if params[:action] == "show"
      = render :partial => 'layouts/disqus'