!!!
%html
  %head
    %title Kyle Heneman
    = stylesheet_link_tag    'application', :media => 'all'
    = csrf_meta_tags
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono|Droid+Serif:400,400italic", :rel => "stylesheet", :type => "text/css"}

  %body
    .header
      .logo
        = link_to 'KH', :root, :class => 'header'
        - if params[:category] == 'Code'
          = link_to 'Code', category_path(:category => 'Code'), :class => 'selected'
        - else
          = link_to 'Code', category_path(:category => 'Code'), :class => 'nav'
        - if params[:category] == 'Misc'
          = link_to 'Misc', category_path(:category => 'Misc'), :class => 'selected'
        - else
          = link_to 'Misc', category_path(:category => 'Misc'), :class => 'nav'
    .admin
      - if current_user
        = link_to 'New Entry', new_entry_path
        = link_to 'Logout', logout_path
    = yield
  %footer
    %ul
      %br
      %li © 2012 Kyle Heneman
      %li= '|'
      %li= link_to 'License', license_path
      %li= '|'
      %li= link_to 'Contact', contact_path